.profileData{
    display: flex;
    flex-direction: row;
    padding:1rem;
    justify-content:center;
    /* background-color: #D9D9D9; */
    background: linear-gradient(95.15deg, #BBFFDE 0%, rgba(230, 203, 168, 0) 133.65%);
    border-radius: 5px;

    width: 80vw;
    margin-left: 10vw;
    margin-top:15vh ;
    height: 70vh;
}

.personalData{
    display: flex;
    flex-direction: column;
    padding: 3.2rem;
    align-items: baseline;
    justify-content: flex-start;
}
.Name_label, .email_label,.phone_number, .experience_label, .cv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    align-items: flex-start;
}
.roles{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#role_label{
    display:inline;
    justify-content: center;
}


input{
    border-radius: 5px;
    border: rgba(149, 239, 223, 1) solid 1px;
    
    padding: 2px;
    /* background-color: #767070; */
    background: linear-gradient(94.92deg, rgba(134, 251, 195, 0.846) 12.7%, rgba(127, 248, 190, 0.396) 88.82%);

    color: black;
}
input[type="checkbox"] {
    /* background-color: yellow; */
    background: linear-gradient(94.92deg, rgba(134, 251, 195, 0.846) 12.7%, rgba(127, 248, 190, 0.396) 88.82%);
    transform: scale(1.2);
    border: rgba(149, 239, 223, 1) solid 1px;
    margin-right: 0.4rem;
    color: white;
  }

input[type="file"] {
    width: 60%;
    height: 50%;
    margin-top: 0.4rem;
    /* background-color: #D9D9D9; */
    background: linear-gradient(94.92deg, rgba(134, 251, 195, 0.846) 12.7%, rgba(127, 248, 190, 0.396) 88.82%);

    border: #D9D9D9 solid 1px;
    width: unset;
}
  
label{
    margin-bottom: 0.4rem;
    margin-top: 0.45rem;
    font-family: Lexend;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0em;
    text-align: left;

}

.roles label{
    margin-bottom: unset;
    margin-top: unset;
}

/* .cv{
    margin-top: 1rem;
} */

.cv {
    position: relative;
  }
  .cv input{
    visibility: hidden;
  }
.cvPlaceholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 11.5rem;
    height: 70%;
    margin-top: 0.4rem;
    color: black;
    Font: Lexend;
    font-size: small;
    /* background-color: #767070; Adjust the background color as needed */
    background: linear-gradient(94.92deg, rgba(134, 251, 195, 0.846) 12.7%, rgba(127, 248, 190, 0.396) 88.82%);

    border-radius: 5px;
    border: black solid 1px;
    z-index: 1;
  }
  


/* //social data  */

.socialData{
    display: flex;
    flex-direction: column;
    padding: 3.2rem;
    align-items: baseline;
    justify-content: flex-start;

    border-left: 1px solid black;
    height: 1; /* Adjust the height as needed */
}

.socialData label{
        margin: 1rem;
}


.btnsubmit{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: max-content;
}
.profileDataBtn{
    border: #D9D9D9;
    /* background-color: #D9D9D9; */
    /* background: linear-gradient(94.92deg, rgba(134, 251, 195, 0.846) 12.7%, rgba(127, 248, 190, 0.396) 88.82%); */
    background-color: transparent;

}

/*------------------- Responsiveness--------------- */

@media screen and (max-width: 760px) {
    .profileData{
        flex-direction: column;
        padding-bottom: 1rem;
        width: 100%;
        height: 100%;
        margin: unset;
    }
    .personalData{
        padding: 1rem;
    }
    .socialData{
        border-top: 1px solid black;
        border-left: unset;
        padding: 0.5rem;
        /* height: 1; Adjust the height as needed */
    }
    .btnsubmit{
        margin: 2rem;
        font-size: larger;
    }
    .profileDataBtn{
        font-size: larger;
    }
    
}
